Source: pve-no-subscription
Section: admin
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: make (>= 3.81)
Maintainer: Andreas Steinel <A.Steinel@gmail.com>
Standards-Version: 3.9.6
Vcs-Git: https://github.com/lnxbil/pve-no-subscription.git
Vcs-Browser: https://github.com/lnxbil/pve-no-subscription

Package: pve-no-subscription
Architecture: all
Depends: ${misc:Depends}, patch, pve-manager (>= 4.0)
Description: PVE non-subscription repository and tweaks
 Debian APT repository for pve-no-subscription and subscription
 notification remover as simple debian package.
